<!-- footer -->
<footer class="footer">
        <div class="row">
        <div class="container">
            <p class="text-muted">Copyright &copy; Carl Centola, 2018</p>
        </div>
</footer>

<!--
<footer>
    <div class="row">
        <div class="container">
            <div class="social"></div>
                <ul>
                    <li><a href="#"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
                    <li><a href="#"><i class="fab fa-github fa-2x"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
                    <li><a href="#"><i class="fas fa-envelope fa-2x"></i></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>